/*================通用样式===============*/
/*网站的整体风格*/
*{
	margin: 0;
	padding: 0;
}
html,body{
	width: 100%;
	height: 100%;
	font-size: 12px;
}
a{
	color: black;
	text-decoration: none;
}
ul,ol{list-style: none;}

/*====================头部=================================*/
/*header风格*/
.header{
	width: 100%;
	height: 105px;
}
.items-logo{
	width: 100%;
	height: 56px;
	background-color: #25292e;
}
.items-logo>div{
	width: 1000px;
	height: 56px;
	margin: 0 auto;
}
.items-logo>div>a{
	float: left;
	width: 95px;
	height: 38px;
	margin: 9px 0;
	background: url('../images/icon.png') 0 0;
}
.items-logo>div>a:hover{
	opacity:0.8;
	filter(alpha=80);
}
.items-logo>div>ul{
	float: right;
}
.items-logo>div>ul>li{
	float: left;
	padding: 21px 10px;
}
.items-logo>div>ul>li>a{
	color: #aaa;
	font-size: 14px;
	opacity:0.9;
	filter(alpha=90);
}
.items-logo>div>ul>li>a.first{color: #FFFFFF;}
.items-logo>div>ul>li:hover a{color: #FFFFFF;}

/*=========购物车二级菜单==========================*/
#shopping-cart{
	position: relative;
}
#shopping-cart .cart{
	display: none;
	position: absolute;
	left: -100px;
	top: 56px;
	z-index: 99;
	width: 320px;
	height: 122px;
}
#shopping-cart .cart .goods{
	width: 320px;
	height: 62px;
	background-color: #292f34;
	line-height: 62px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
}
#shopping-cart .cart>a{
	display: block;
	width: 320px;
	height: 60px;
	background-color: #7dbfde;
	line-height: 60px;
	text-align: center;
	font-size: 16px;
	color: #FFFFFF;
}
#shopping-cart:hover .cart{display: block;}
/*==========消息二级菜单===================================*/
#information1{position: relative;}
#information1>ol{
	display: none;
	position: absolute;
	left: -50px;
	top: 56px;
	z-index: 99;
	width: 170px;
	height: 247px;
	padding: 10px;
	background-color: #292f34;
	overflow: hidden;
}
#information1>ol>li{
	width: 170px;
	height: 22px;
	padding: 10px 0;
	border-bottom: 1px solid #E8E8E8;
}
#information1>ol>li span{
	float: right;
}
#information1>ol>li:hover{opacity: 0.8;}
#information1:hover ol{display: block;}

.items-nav{
	width: 100%;
	height: 49px;
	background-color: #FFFFFF;
}
.items-nav>div{
	position: relative;
	width: 1000px;
	height: 45px;
	border-bottom: 4px solid #ededed;
	margin: 0 auto;
}
.items-nav>div>ul{
	position: absolute;
	bottom: -4px;
	left: 0;
	margin-top: 16px;
}
.items-nav>div>ul>li{
	float: left;
	padding: 0 40px 8px;
	margin-right: 10px;
	border-bottom: 4px solid #ededed;
}
.items-nav>div>ul>li:hover{
	border-bottom-color:black;
}
.items-nav>div>ul>li.first{
	padding: 0 50px 8px 0;
}
.items-nav>div>ul>li>a{
	font-size: 16px;
}
/*商品目录的二级菜单*/
.shop{
	position: absolute;
	left: 0;
	top: 33px;
	z-index: 99;
	display: none;
	height: 440px;
	border-bottom:1px solid #ccc;
	
}
.shop>div{
	width: 1000px;
	height: 440px;
	margin: 0 auto;
	
}
.shop-list{
	position: relative;
	width: 1000px;
	height: 320px;
	background-color: #FFFFFF;
}
.shop-list>ul{
	float: left;
	width: 680px;
}
.shop-list>ul>li{
	float: left;
	margin-right: 50px;
	margin-top: 50px;
}
.shop-list>ul>li>a{
	display: block;
	width: 38px;
	height: 52px;
	text-align: center;
}
.shop-list>ul>li>a>img{
	width: 100%;
}
.shop-list>ul>li>a>span{
	font-size: 14px;
}
.shop-list .pic{
	float: right;
	width: 232px;
	margin-top: 50px;
	text-align: center;
	font-size: 14px;
}
.shop-list .pic>img{
	width: 232px;
	margin-bottom: 15px;
}
.details{
	width: 100%;
	height: 80px;
	padding:20px 0;
	background-color: #FFFFFF;
}
.details>a{
	display: inline-block;
	padding-right: 20px;
	font-size: 14px;
}
#shop:hover .shop{display: block;}

/*杂志二级菜单*/
.magazin{
	position: absolute;
	left: 0;
	top: 33px;
	z-index: 99;
	display: none;
	width: 1000px;
	height: 160px;
	border-bottom:1px solid #ccc;
	background-color: #FFFFFF;
}
.magazin>ul{
	width: 800px;
	height: 120px;
	padding: 20px 0;
}
.magazin>ul>li{
	float: left;
	padding-right: 50px;
	padding-top: 20px;
}
.magazin>ul>li>a{
	font-size: 14px;
}
#magazin:hover .magazin{display: block;}

/*分享二级菜单 css样式同杂志*/
#share:hover .share{display: block;}

.items-nav>div .search{
	position: absolute;
	right: 0;
	bottom: -4px;
	width: 260px;
	height: 39px;
	border-bottom: 4px solid #ededed;
	overflow: hidden;
}
.items-nav>div .search>div{
	position: relative;
}
.items-nav>div .search>div>input{
	position: absolute;
	left: 260px;
/*	left: 0;*/
	top: 0;
	width: 192px;
	height: 40px;
	padding-left: 5px;
	border: 0;
	outline: none;
	font-size: 16px;
}
.items-nav>div .search>a{
	position: absolute;
	left: 192px;
	top: 11px;
	width: 34px;
	height: 18px;
	background: url(../images/icon.png) no-repeat -166px -156px;
}

/*=====================banner===================================*/
.banner{
	position: relative;
	width: 1000px;
	height: 500px;
	margin: 40px auto;
	overflow: hidden;
}
.banner-pic{
	position: absolute;
	left: 0;
	top: 0;
	width: 1000px;
	height: 475px;
}
.banner-pic>ul{
	width: 8000px;
	height: 475px;
}
.banner-pic>ul>li{
	float: left;
}
.left{
	position: absolute;
	left: 30px;
	top: 50%;
	margin-top: -25px;
	display: none;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: rgba(0,0,0,0);
}
.banner:hover .left{display: block;}
.left:hover{background-color: rgba(0,0,0,0.5);}
.left>i{
	display: block;
	width: 50px;
	height: 50px;
	background: url(../images/normal_left.png) no-repeat center;
}
.right{
	position: absolute;
	right: 30px;
	top: 50%;
	margin-top: -25px;
	display: none;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: rgba(0,0,0,0);
}
.banner:hover .right{display: block;}
.right:hover{background-color: rgba(0,0,0,0.5);}
.right>i{
	display: block;
	width: 50px;
	height: 50px;
	background: url(../images/normal_right.png) no-repeat center;
}
.circle{
	position: absolute;
	left: 50%;
	margin-left: -75px;
	bottom: 0;
}
.circle ul{
	width: 150px;
	height: 5px;
}
.circle ul li{
	float: left;
	margin-right: 10px;
}
.circle ul li i{
	display: block;
	width: 20px;
	height: 5px;
	background-color: #E8E8E8;
}
.circle ul li i.curren{background-color: black;}
/*============banner2=================================*/
.banner2{
	position: relative;
	width: 1000px;
	height: 403px;
	margin: 40px auto;
}
.banner2 .pic1{
	position: absolute;
	left: 0;
	top: 0;
}
.banner2 .pic2{
	position: absolute;
	right: 0;
	top: 0;
}
.banner2 .pic3{
	position: absolute;
	left: 341px;
	top: 0;
}
.banner2 .pic4{
	position: absolute;
	left: 0;
	bottom: 0;
}
.banner2 .pic5{
	position: absolute;
	right: 0;
	bottom: 0;
}

/*========人气良品=================================*/
.hot_goods{
	width: 1000px;
	margin: 40px auto;
	overflow: hidden;
}
.hot_goods>p{
	width: 1000px;
	height: 40px;
	border-bottom: 1px solid #CCCCCC;
	margin-bottom: 40px;
	font-size: 18px;
	line-height: 40px;
	text-align: center;
}
.hot_goods>ul{
	width: 1026px;
}
.hot_goods>ul>li{
	float: left;
	width: 316px;
	height: 366px;
	margin-right: 26px;
	margin-bottom: 30px;
}
.hot_goods>ul>li>a{
	display: block;
}
.goods{
	width: 316px;
	height: 316px;
	position: relative;
}
.goods:hover .txt{display: block;}
.goods .pic{
	width: 316px;
	height: 316px;
}
.goods .pic>img{width: 100%;}
.goods .txt{
	position: absolute;
	left: 0;
	top: 0;
	display: none;
	width: 276px;
	height: 276px;
	padding: 20px;
	background-color: rgba(0,0,0,0.6);	
}
.txt .price{
	color: blue;
	font-size: 16px;
	font-style: italic;
}
.txt .tit{
	margin-top: 80px;
	width: 250px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 14px;
	color: #FFFFFF;
}
.txt .describe{
	margin-top: 10px;
	margin-left: 20px;
	width: 250px;
	font-size: 12px;
	color: #FFFFFF;
}
.like{
	width: 316px;
	height: 40px;
	margin-top: 10px;
}
.like .logo{
	float: left;
	width: 216px;
	height: 40px;
	font-size: 14px;
}
.like .logo img{height: 100%;margin-right: 10px;vertical-align: middle;}
.like .love{
	float: right;
	width: 54px;
	height: 40px;
	line-height: 35px;
	font-size: 14px;
}
.like .love img{height: 28px;float: right;}

/*=============MORE==========================================*/
.pagers{
	width: 1000px;
	height: 50px;
	margin: 80px auto;
}
.pagers>a{
	display: block;
	width: 148px;
	height: 50px;
	margin: 0 auto;
	background: url(../images/icon.png)no-repeat 0 -640px;
}
.pagers>a:hover{background-position: 0 -690px;}
/*==============footer========================================*/
.footer{
	width: 100%;
	height: 248px;
	border-top: 1px solid #CCCCCC;
	background-color: #fbfdfe;
}
.icon>a{
	display: block;
	width: 272px;
	height: 16px;
	margin: 40px auto;
}
.icon .hand{
	float: left;
	width: 30px;
	height: 16px;
	margin-right: 20px;
	background-image: url(../images/icon.png);
	background-position: -173px -355px;
}
.icon .shop-icon{
	float: right;
	width: 222px;
	height: 16px;
	background: url(../images/icon.png) no-repeat 0px -415px;
}
.slogen{
	width: 1000px;
	height: 102px;
	margin: 25px auto;
}
.slogen dl{
	float: left;
	width: 250px;
	height: 60px;
}
.slogen dt{
	float: left;
	width: 56px;
	height: 60px;
	background-image: url(../images/icon.png);
}
.slogen dd{
	float: left;
	width: 174px;
	height: 50px;
	padding-left: 20px;
	padding-top: 10px;
}
.slogen dd .chinese{
	font-size:16px;
	line-height: 20px;
}
.slogen dd .english{
	font-size:12px;
	line-height: 20px;
	color: #999;
}
.slogen dt.dt1{background-position: 0 -356px;}
.slogen dt.dt2{background-position: -146px -219px;}
.slogen dt.dt3{background-position: -57px -356px;}
.slogen dt.dt4{background-position: -115px -356px;}

/*================copy================================================*/
.copy{
	width: 100%;
	height: 224px;
	background-color: #25292e;
}
.copy-top{
	width: 1000px;
	height: 104px;
	margin: 0 auto;
}
a.phone{
	float: left;
	position: relative;
	width: 196px;
	height: 44px;
	padding: 40px 0 20px 0;
}
a.phone:hover .code{display: block;}
a.phone:hover .text{color: #999;}
a.phone>i{
	float: left;
	width: 25px;
	height: 44px;
	margin-right: 20px;
	background: url(../images/icon.png) no-repeat -174px 0;
}
a.phone>.text{
	float: left;
	width: 135px;
	height: 44px;
	color: #5C5C5C;
	letter-spacing: 2px;
}
a.phone>.text p{
	font-size: 14px;
	line-height: 22px;
}
a.phone>.code{
	display: none;
	position: absolute;
	left: 0;
	bottom: 106px;
	width: 236px;
	height: 147px;
	background: #FFFFFF;
}
.code .dl1{
	float: left;
	width: 98px;
	height: 147px;
	padding-right: 20px;
}
.dl1 dt{
	width: 98px;
	height: 95px;
	background: url(../images/icon.png) no-repeat 0 -46px;
}
.dl1 dd{
	width: 98px;
	height: 52px;
	line-height: 52px;
	text-align: center;
	font-size: 12px;
}
.code .dl2{
	float: left;
	width: 98px;
	height: 147px;
	padding-left: 20px;
}
.dl2 dt{
	width: 98px;
	height: 95px;
	background: url(../images/icon.png) no-repeat -98px -46px;
}
.dl2 dd{
	width: 98px;
	height: 52px;
	line-height: 52px;
	text-align: center;
	font-size: 12px;
}
.copy-top>ul{
	position: relative;
	float: right;
	width: 200px;
	height: 104px;

}
.copy-top>ul>li{
	float: left;
	height: 44px;
	padding: 40px 0 20px 0;
	margin-right: 20px;
}
.copy-top>ul>li.wx i{
	display: block;
	width: 26px;
	height: 20px;
	background-image: url(../images/icon.png);
	background-position: -99px 0;
}
.copy-top>ul>li.wx:hover i{background-position: -99px -24px;}
.copy-top>ul>li.wx:hover a{display: block;}
.copy-top>ul>li.wx a{
	display: none;
	position: absolute;
	left: -60px;
	bottom: 106px;
	width: 145px;
	height: 145px;
	background-image: url(../images/icon.png);
	background-position: 0px -146px;
}
.copy-top>ul>li.wb a{
	display: block;
	width: 23px;
	height: 20px;
	background-image: url(../images/icon.png);
	background-position: -149px 0;
}
.copy-top>ul>li.wb:hover a{background-position: -149px -22px;}
.copy-top>ul>li.db a{
	display: block;
	width: 18px;
	height: 20px;
	background-image: url(../images/icon.png);
	background-position: -129px 0;
}
.copy-top>ul>li.db:hover a{background-position: -129px -24px;}
.copy-down{
	width: 1000px;
	height: 120px;
	margin: 0 auto;
}
.copy-down>ul{width: 1000px;height: 20px;}
.copy-down>ul li{
	float: left;
	padding: 0 10px;
	border-left: 1px solid #5c5c5c;
}
.copy-down>ul li:hover a{color: #999;}
.copy-down>ul li a{
	font-size: 12px;
	color: #5c5c5c;
	letter-spacing: 2px;
}
.copy-down>ul li.first{border-left-width:0;padding-left: 0;}
.copy-down>p{
	font-size: 12px;
	line-height: 20px;
	color: #5c5c5c;
	letter-spacing: 2px;
}




























